
body{
    color: white;
    background-color: gainsboro;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 20px;
    border: 5px solid black;
}

.nav_element {
    margin-right: 100px;
    margin-left: 100px;
}

.search_{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_img{
    width: 30px;
}

.search {
    border-radius: 20px;
    width:  350px;
    height: 30px;
}

.nav {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}
div.info{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.856);
    padding-bottom: 50px;
    border-radius: 20px;
    border: 5px solid black;
}
.info_element{
    margin-top: 50px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;

}   
img{
    width: 500px;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button{
    border-radius: 20px;
    border: 2px solid white;
    background-color: gainsboro;
}

button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
}

footer {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 20px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.text_messege{
    height: 100px;
    width: 225px;
    margin-top: 2px;
}

.media{
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.messege {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}